.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weatherPage{
  max-width:600px;
  border: 2px solid rgb(232, 232, 241);
  border-radius: 15px;
  margin:0 auto;
  background-image: linear-gradient(-20deg, #b380ca 0%, #62defa 100%);
  color:white;
  background-size: cover; /* Cover the entire page */
  transition:100ms,
}
ul{
  list-style: none;
}
.today{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cityName{
  font-weight: 100px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.formControl{
  width:450px;
  height:50px;
  border-radius: 5px;
  margin-top: 8px;
  border: 2px solid rgb(223, 223, 228);
  margin-left: 10px;
}
.button{
  margin-top: 8px;
  height: 50px;
  width: 100px;
  background-color: rgb(98, 117, 226);
  border: 1px solid rgb(98, 117, 226);
  border-radius: 5px;
  color: white;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; 
}
input[type="search"]:focus {
  border-color: #0056b3; /* Darker blue on focus */
}
.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
p{
  font-weight: 900px;
}
form{
  margin-bottom: 20px;
}
.col{
  margin-bottom: 30px;
}
.icon{
  margin-right: 15px;
  
  
}
.card{
  width:80px;
  margin-bottom: 10px;
  margin-left: 30px;
  text-align:center;
  height:90px;
  border-radius:300px;
  
}
.card {
    background-color: rgba(255, 255, 255, 0.4); /* White background with 80% opacity */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(245, 243, 243, 0.2); /* Subtle shadow */
    transition: transform 0.3s; /* Smooth scaling on hover */
}
.card li{
  margin-right: 15px;
  font-size: smaller;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.str{
  color:rgb(104, 98, 98);
}


